.content-section {
    grid-area: content;
}

.content {
    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    background-color: transparent !important;
    padding: 0;
    grid-gap: 1em;
}

@media(min-width:1200px) {
    .content {
        display: grid;
        align-items: flex-start;
        grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
        background-color: transparent !important;
        padding: 0;
        grid-gap: 1em;
    }
}

.posts {
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.4em;
    margin-bottom: 0.8em;
    background-color: #bedbbb;
    border-radius: 12px;
}

.post-title {
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    font-size: 1.2em;
    text-align: left;
}

.post-title a {
    text-decoration: none;
    color: #92817a;
}

.dotted-line {
    width: 100%;
    border: 0;
    border-top: 0.5rem dotted darkGray;
    margin: 1.5rem auto 1 auto;
}

.post-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: 0.3;
}

.post-info h5 {
    margin-bottom: 0.5rem;
    font-family: 'Roboto Slab', serif;
    font-size: 0.5em;
}

.post-images {
    width: 100%;
    margin-top: 1rem;
    border-radius: 12px;
}

.post-body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    line-height: 2.5rem;
    text-align: justify;
    font-size: 0.8em;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.buttons p {
    margin: auto;
    font-size: 0.8em;
    font-family: 'Open Sans Condensed', sans-serif;
}

.buttons a {
    text-decoration: none;
    color: black;
    margin: auto;
}

.buttons a:hover {
    transition: all 0.3s ease;
    color: gray;
}

.buttons i {
    font-size: 2em;
}