/* For small screens */
@media (max-width:599px) {
    .footer {
        grid-area: footer;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 80% 20%;
        grid-template-areas:
            "links"
            "credit";
        padding: 2rem;
    }

    /* top grid */
    .links {
        grid-area: links;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: "resources contact"
    }

    .resources {
        grid-area: resources;
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .footer div div h6 {
        font-family: 'Roboto Slab', serif;
        font-size: 5vw;
        text-align: left;
        margin: 0 0 1rem 0;
    }

    .footer div div ul {
        padding: 0;
        margin: 0 1.5rem;
        word-break: break-all;
    }

    .footer div div ul li a {
        text-decoration: none;
        color: black;
        font-family: 'Roboto Slab', serif;
        font-size: 3.9vw;
    }

    .footer div div ul li a:hover {
        text-decoration: none;
        transition: all 0.3s ease;
        color: gray;
    }

    .contact {
        grid-area: contact;
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-left: : 6em;
    }

    /* Bottom gird */
    .credit {
        grid-area: credit;
    }

    .credit h6 {
        margin: 2.5em auto;
        font-size: 0.45em;
        font-family: 'Roboto Slab', serif;
    }
}

/* For iPad/larg-ish screens */
@media(min-width:600px) and (max-width:900px) {
    .footer {
        grid-area: footer;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 80% 20%;
        grid-template-areas:
            "links"
            "credit";
        padding: 2rem;
    }

    /* top grid */
    .links {
        grid-area: links;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        grid-template-areas: "resources contact";
        justify-content: center;
    }

    .resources {
        grid-area: resources;
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .footer div div h6 {
        margin: 1rem 0;
        font-family: 'Roboto Slab', serif;
        font-size: 1.1em;
    }

    .footer div div ul {
        padding: 0;
        margin: 0 1.5rem;
    }

    .footer div div ul li a {
        text-decoration: none;
        color: black;
        font-family: 'Roboto Slab', serif;
        font-size: 1rem;
    }

    .footer div div ul li a:hover {
        text-decoration: none;
        transition: all 0.3s ease;
        color: gray;
    }

    .contact {
        grid-area: contact;
        display: flex;
        flex-direction: column;
        /* text-align: justify; */
    }

    .contact ul li,
    .contact h6 {
        text-align: justify;
    }

    .credit {
        grid-area: credit;
    }

    .credit h6 {
        margin: 1.3rem;
        font-family: 'Roboto Slab', serif;
    }
}

/* For larg screens */
@media(min-width:901px) {}